<main class="">
    <div class="container-productDescription">
        <div class="container-productDescription-image">
            <img class="container-productDescription-img" src="/uploads/{{imagePath}}" alt="img">
        </div>
        <div class="container-productDescription-description">
            <h3 class="container-productDescription-title">{{productName}}</h3> <br>
            <span class="container-productDescription-info">{{description}}</span> <br>
            <span class="container-productDescription-price">Price: ${{price}}</span> <br>
            <span class="container-productDescription-stock">{{stock}}</span>
            <p><button class="container-productDescription-addToCart">Add to Cart</button></p>
        </div>
    </div>
</main>



